<a href="https://colab.research.google.com/github/kalyankrishnajalla/test/blob/main/Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
from IPython.display import display, HTML

display(HTML("""
<style>
/* Hide the floating toolbar */
.colab-dc-control {
    display: none !important;
}
</style>
"""))

In [3]:
#Window Functions

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=c387a059cec829777e7c455adb72ba3b77115d2e6b6a14afd68d91b5701ffeb1
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [12]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [13]:
import pyspark
from pyspark import SparkContext,SparkConf
from pyspark.sql import SparkSession
c=pyspark.SparkConf().setAppName("test_app").setMaster("local")
sc=pyspark.SparkContext(conf=c)
spark=SparkSession(sc)

In [18]:
df1 = pd.read_excel("//content//drive//MyDrive//KSR_DATASETS//2398498-Emp_Training_Data.xlsx")#, header = True, inferSchema = True)

In [20]:
df2 = pd.read_excel("//content//drive//MyDrive//KSR_DATASETS//2398497-Training.xlsx")#, header = True, inferSchema = True)

In [21]:
employee = spark.createDataFrame(df1)
training = spark.createDataFrame(df2)

In [23]:
type(employee)

pyspark.sql.dataframe.DataFrame

In [27]:
employee.show(5,False)

+----------+---------+----------------+-------------+------+-------------------+--------------+----------+
|EmployeeID|ManagerID|Title           |MaritalStatus|Gender|HireDate           |Dept          |Job Grade |
+----------+---------+----------------+-------------+------+-------------------+--------------+----------+
|1         |16       |Gustavo Achong  |M            |M     |2013-02-02 00:00:00|Sales         |Admin     |
|2         |6        |Catherine Abel  |S            |M     |2013-08-31 00:00:00|Sales         |Management|
|3         |12       |Kim Abercrombie |M            |M     |2014-06-16 00:00:00|Finance       |Admin     |
|4         |3        |Humberto Acevedo|S            |M     |2014-07-10 00:00:00|Logistics     |Admin     |
|5         |263      |Pilar Ackerman  |M            |M     |2014-07-16 00:00:00|Human Resource|Admin     |
+----------+---------+----------------+-------------+------+-------------------+--------------+----------+
only showing top 5 rows

In [29]:
training.show(5,False)

+-------------------+-----------+----------------------+-----------+----+---------------------+
|Start Date         |Course Code|Course Name           |Employee_ID|Cost|Supplier             |
+-------------------+-----------+----------------------+-----------+----+---------------------+
|2015-09-18 00:00:00|1          |Communication Workshop|1          |1300|Communication Experts|
|2015-09-18 00:00:00|1          |Communication Workshop|4          |1300|Communication Experts|
|2015-09-18 00:00:00|1          |Communication Workshop|25         |1300|Communication Experts|
|2015-09-18 00:00:00|1          |Communication Workshop|33         |1300|Communication Experts|
|2015-09-18 00:00:00|1          |Communication Workshop|44         |1300|Communication Experts|
+-------------------+-----------+----------------------+-----------+----+---------------------+
only showing top 5 rows

In [29]:
####in pandas
####emp_train = emp.merge(training,left_on="training_id", right_on="", how ="inner")

In [30]:
emp_training = employee.join(training,employee['EmployeeID']==training["Employee_ID"], "inner")

In [33]:
emp_training.show(5, False)

+----------+---------+--------------+-------------+------+-------------------+----------+----------+-------------------+-----------+----------------------+-----------+----+---------------------+
|EmployeeID|ManagerID|Title         |MaritalStatus|Gender|HireDate           |Dept      |Job Grade |Start Date         |Course Code|Course Name           |Employee_ID|Cost|Supplier             |
+----------+---------+--------------+-------------+------+-------------------+----------+----------+-------------------+-----------+----------------------+-----------+----+---------------------+
|26        |108      |Marvin Allen  |M            |M     |2015-07-10 00:00:00|Production|Admin     |2017-01-22 00:00:00|2          |Communication Workshop|26         |1300|Communication Experts|
|26        |108      |Marvin Allen  |M            |M     |2015-07-10 00:00:00|Production|Admin     |2017-12-24 00:00:00|16         |Computer Literacy     |26         |2200|Computer Trainers    |
|29        |14       |Oscar Alpuerto|M            |M     |2015-07-11 00:00:00|Finance   |Operations|2016-06-25 00:00:00|16         |Computer Literacy     |29         |1800|Computer Trainers    |
|26        |108      |Marvin Allen  |M            |M     |2015-07-10 00:00:00|Production|Admin     |2018-01-22 00:00:00|2          |Communication Workshop|26         |1300|Communication Experts|
|26        |108      |Marvin Allen  |M            |M     |2015-07-10 00:00:00|Production|Admin     |2018-12-24 00:00:00|16         |Computer Literacy     |26         |2200|Computer Trainers    |
+----------+---------+--------------+-------------+------+-------------------+----------+----------+-------------------+-----------+----------------------+-----------+----+---------------------+
only showing top 5 rows

In [35]:
print(len(employee.columns))#first table columns length
print(len(training.columns))#second table columns length
print(len(emp_training.columns))#combined columns length ==> ##8+6= 14

8
6
14

In [36]:
#Joins With Selected Columns

In [48]:
emp_training_c = employee.join(training, employee["EmployeeID"] == training["Employee_ID"], "inner").select(employee['Title'],employee["MaritalStatus"],training["Course Name"],training["Cost"])

In [49]:
emp_training_c.show(5, False)

+--------------+-------------+----------------------+----+
|Title         |MaritalStatus|Course Name           |Cost|
+--------------+-------------+----------------------+----+
|Marvin Allen  |M            |Communication Workshop|1300|
|Marvin Allen  |M            |Computer Literacy     |2200|
|Oscar Alpuerto|M            |Computer Literacy     |1800|
|Marvin Allen  |M            |Communication Workshop|1300|
|Marvin Allen  |M            |Computer Literacy     |2200|
+--------------+-------------+----------------------+----+
only showing top 5 rows